html,body{


height: 100%;
font-family: 'Numans', sans-serif;
margin-bottom: 600px;
}

p{
  margin-top: 20px;
}
.login-container{
height: 100%;
align-content: center;

}

.card{

height: 400px;
margin-top: 40px;
margin-left: 50px;
margin-right: inherit;
margin-bottom: 10px; /* Added */
float: left;
width: 400px;
background-color: white;
}
.card-header h3{

  color: #75746d;


}
.button
{

  color: white;
}

.error-message
{
  color: red;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 90%;
    margin-left: 100px;
    margin-top: 50px;


    height: 150px; /* .push must be the same height as .footer */
}
.footer
{
  background-color:#79bdb6 ;
  color: white;
  border-top-left-radius:40%;
   border-top-right-radius:40%;


}
.footer-head
{
  color: yellow;
}
.navbar
{
  margin-left: 0;
  color: black;
}
.nav2
{
  position: relative;
}
.navbar .navbar-brand img {
  height: 70px;
  width :100px;
  border-radius: 20%;
}
.wrapper{
  margin-left: 0;
}
.head
{
  background-color: white;
}
.cont
{
  padding-bottom: 40px;
}
