<footer class="page-footer font-small  pt-4 footer">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">
      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase footer-head">About Us</h5>
        <p>Here you can add about us</p>

      </div>
      <!-- Grid column -->



      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3">

        <!-- Links -->
        <h5 class="text-uppercase footer-head">service</h5>
        <p>Here you can add services</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3">

        <!-- Links -->
        <h5 class="text-uppercase footer-head">Contact Us</h5>
        <p>Here you can add contact us</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->



</footer>
<!-- Footer -->
