<footer class="page-footer font-small  pt-4 footer">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">
      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3 cont">

        <!-- Content -->
        <h5 class="text-uppercase footer-head">ABOUT US</h5>
        <p>My Bank was founded on 14 june 2020 with objective of providing detail service on retail banking operations</p>

      </div>
      <!-- Grid column -->



      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 cont">

        <!-- Links -->
        <h5 class="text-uppercase footer-head">SERVICES</h5>
        <p>Retail banking <br/>
          credit cards <br/>
          Debit cards <br/>


        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3 cont">

        <!-- Links -->
        <h5 class="text-uppercase footer-head">CONTACT US</h5>
        <p>our mail id :
          mybank@mail.com


        our contact number :
          63636363633
        <br />

      </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->



</footer>
<!-- Footer -->
