{% extends "layout.html" %}

{% block content %}




  <div class="container">

       <form name="debit" action="" method="post" novalidate>
      <fieldset class="form-group">
          <legend>{{title}}</legend>
          {{ form.hidden_tag() }}
              <p> {{ form.customer_ssid.label }}</br>
                  {{ form.customer_ssid }}
                  {% for error in form.customer_ssid.errors %}
                   <span class="error-message">{{ error }}</span>
                  {% endfor %}
              </p>
              <p> {{ form.account_id.label }}</br>
                  {{ form.account_id }}
                  {% for error in form.account_id.errors %}
                   <span class="error-message">{{ error }}</span>
                  {% endfor %}
              </p>

              <p> {{ form.amount.label }}</br>
                  {{ form.amount }}
                  {% for error in form.amount.errors %}
                   <span class="error-message">{{ error }}</span>
                  {% endfor %}
              </p>

              <p>
                  {{ form.submit() }}
              </p>

      </fieldset>
      </form>
  </div>
{% endblock %}
