{% extends "layout.html" %}

{% block content %}




  <div class="container">


          <legend>Account info</legend>

              <p>  Customer SSID :
                  <bold> {{ data['customer_ssid'] }}</bold>


              </p>
              </br>

              <p> Account ID :
                <bold>  {{ data['account_id'] }}</bold>

              </p>
            </br>
              <p> Account Type :
                <bold>  {{ data['account_type'] }}</bold>

              </p>
</br>
              <p> Amount :
                <bold>{{ data['amount'] }}</bold>

              </p>



  </div>
{% endblock %}
